/* Insertion de la vidéo et animation de la bannière */
.banner {
    animation-name: slideDown, fadeIn;
    animation-duration: 1.5s;
    background-image: none;

    video {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -100;
        position: absolute;
        object-fit: cover;
    }

    img {
        animation-name: slideUp, floating;
        animation-duration: 1.5s, 2s;
        animation-timing-function: linear, ease-in-out;
        animation-iteration-count: 1, infinite;
        animation-delay: 0s, 1.5s;
    }
}

/* Effet d'apparation du contenu */
h2 ::after ::before {
    animation-name: slideUp;
    animation-duration: 1.5s;
}

.story, #characters,
#place, #studio {
    animation-name: slideUp;
    animation-duration: 1.5s;

}

#story__article {
    p {
        position: absolute;
        width: 50%;
        padding-bottom: 300px !important;
    }
 
}

/* Effet d’apparition des titres */



/* Effet de rotation infinie des fleurs */
.site-footer::after, .site-footer ul::after, .site-footer::before, .story__article::after, #studio h2::before, #studio h2::after, .fleur {
    animation: rotation 20s normal linear infinite;
}
 .story h2::after{
    transform-origin: 77px 77px;
    animation: rotation 20s normal linear infinite;
 }

 /* Ajout de la section nomination Oscar */

.site-footer {
    flex-wrap: wrap;

    ::after {
        margin-top: -1550px;
        }

    #nomination {
        img {
            margin-top: -150px;
            padding-bottom: 300px;
            margin-left: 171px;
        }
    }    
}

/* KEYFRAMES */

 @keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

 @keyframes slideDown {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0px);
    }
}
 
 @keyframes rotation {
    100% {
        transform: rotate(1turn);
    }
}

@keyframes floating {
    
    0% {
        transform: translate(0,0);
    }

    50% {
        transform: translate(0, -20px);
    }

    100% {
        transform: translate(0, 0);
    }
}


/* MEDIA QUERIES */

@media screen and (max-width: 820px) {
    
.banner {
    min-height: 180px;
    background-size: contain;
    background-image: url(../assets/banner.png);

    video {
        display: none;
    }
}
}