@charset "UTF-8";
/* Insertion de la vidéo et animation de la bannière */
.banner {
  animation-name: slideDown, fadeIn;
  animation-duration: 1.5s;
  background-image: none;
}
.banner video {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -100;
  position: absolute;
  object-fit: cover;
}
.banner img {
  animation-name: slideUp, floating;
  animation-duration: 1.5s, 2s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-delay: 0s, 1.5s;
}

/* Effet d'apparation du contenu */
/*h2 ::after ::before {
    animation-name: slideUp;
    animation-duration: 2s; 
}*/
.story, #characters, #place, #studio, #colophon, #nomination {
  animation-name: slideUp;
  animation-duration: 2s;
}

/* Effet d’apparition des titres */
.story__article::after, .story h2::after, #studio h2::before, #studio h2::after, .site-footer::after, .site-footer ul::after, .site-footer::before {
  animation: rotation 20s normal linear infinite;
}

.story h2::after {
  transform-origin: 77px 77px;
}

/* //copie
.scroll.site-footer::after, .site-footer ul::after, .site-footer::before, .story__article::after, #studio h2::before, #studio h2::after, .fleur {
    animation: rotation 20s normal linear infinite;
}
 .story h2::after{
    transform-origin: 77px 77px;
 }
 */
.myclass {
  background-color: aqua;
  animation: rotation 20s normal linear infinite;
}

/* Ajout de la section nomination Oscar */
.site-footer {
  flex-wrap: wrap;
}
.site-footer #nomination img {
  margin-top: -150px;
  padding-bottom: 300px;
  margin-left: 171px;
}

/* Slider swiper personnages */
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide-active {
  transform: scale(1.2) !important;
}

.button-menu {
  width: 42px;
  height: 24px;
  cursor: pointer;
  position: relative;
}

.button-menu span {
  width: 100%;
  height: 4px;
  background-color: #000000;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: backround-color 0.5s ease-in-out;
}

.button-menu span::before,
.button-menu span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #000000;
}

.button-menu span::before {
  transform: translateY(-10px);
}

.button-menu span::after {
  transform: translateY(10px);
}

.activee span {
  background-color: transparent;
}

.activee span::before {
  transform: translateY(0px) rotateZ(45deg);
}

.activee span::after {
  transform: translateY(0px) rotateZ(-45deg);
}

.menuburger {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.new-ul {
  list-style: none;
  padding: 0;
  z-index: 2;
  padding-top: 50px;
}

.new-ul li {
  text-align: center;
  animation: 0.3s print;
}

.new-ul li a {
  text-decoration: none;
  font-family: Roboto Mono;
  font-size: 3.33vw;
  font-weight: 400;
  line-height: 130px;
  letter-spacing: 0em;
  text-align: center;
  color: black;
}

.new-ul li a:hover {
  text-shadow: 0px 0px 14px #FF5C00;
  color: #000000;
}

.open {
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop {
  /* position: absolute; */
  top: -3215px;
  left: -6312px;
  right: 0;
  bottom: 0;
  background: #fff5e9;
  cursor: pointer;
  animation: fade 0.1s;
}

@keyframes print {
  from {
    margin-top: -50px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.remove {
  display: none !important;
}

.menu {
  padding-top: 20px;
  margin-left: 420px;
  display: flex;
  justify-content: space-around;
}

button.buttonmenu {
  display: block !important;
  z-index: 9999;
}

.newul p {
  text-align: center;
}

/* KEYFRAMES */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes rotation {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -20px);
  }
  100% {
    transform: translate(0, 0);
  }
}
/* MEDIA QUERIES */
@media screen and (max-width: 820px) {
  .banner {
    min-height: 180px;
    background-size: contain;
    background-image: url(../assets/banner.png);
  }
  .banner video {
    display: none;
  }
}

/*# sourceMappingURL=theme.css.map */
