@charset "UTF-8";
/* Insertion de la vidéo et animation de la bannière */
.banner {
  animation-name: slideDown, fadeIn;
  animation-duration: 1.5s;
  background-image: none;
  overflow: hidden;
  margin: 0 auto;
}
.banner video {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -100;
  position: absolute;
  object-fit: cover;
}
.banner img {
  width: 600px !important;
  animation-name: slideUp, floating;
  animation-duration: 1.5s, 2s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-delay: 0s, 1.5s;
}

/* Effet d'apparation du contenu */
.story, #characters, #place, #studio, #colophon, #nomination {
  animation-name: slideUp;
  animation-duration: 2s;
}

p {
  animation-name: slideDown;
  animation-duration: 2s;
}

.title-part1,
.title-part2 {
  opacity: 0;
}

.animPart1,
.animPart2 {
  display: inline-block;
  position: relative;
  opacity: 1;
}

.animPart1 {
  animation: slidePart1 1s ease-in-out;
}

.animPart2 {
  animation: slidePart2 1s ease-in-out;
}

@keyframes slidePart1 {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slidePart2 {
  0% {
    transform: translateY(150%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* FOOTER  */
.site-footer::before, .site-footer::after {
  display: none;
}

.footer-flowers {
  display: flex;
  width: 1440px;
  justify-content: space-between;
  margin-top: -250px;
  margin-bottom: 70px;
}
.footer-flowers .footer-sunflower {
  margin-top: 30px;
  margin-left: 70px;
  width: 216px;
  z-index: 2;
}
.footer-flowers .footer-orchid {
  width: 171px;
  height: 171px;
  margin-right: -70px;
}
.footer-flowers .nomination {
  top: -500px;
}

/* ROTATION DES FLEURS */
.story__article::after, .story h2::after, #studio h2::before, #studio h2::after, .footer-sunflower, .footer-orchid, .site-footer ul::after {
  animation: rotation 20s normal linear infinite;
}

.story h2::after {
  transform-origin: 77px 77px;
}

/* SLIDER PERSONNAGE */
#characters {
  width: 1440px;
  margin-left: 240px !important;
  margin-right: 240px !important;
}
#characters .main-character {
  width: 1440px;
}
#characters .main-character h3 {
  padding-left: 50px !important;
  background-position: left;
  text-align: left;
}

.swiper {
  height: 350px;
  padding-bottom: 0;
  overflow: hidden !important;
}
.swiper .swiper-slide {
  background-position: left !important;
  width: 400px;
  height: 500px;
}
.swiper .swiper-slide img {
  display: block;
  width: 400px;
}

.story #place {
  background-image: url(../assets/Studio_Koukaki-image_place.png);
}
.story #place .cloud1 {
  position: absolute;
  right: 35%;
  bottom: 400px;
  filter: blur(14px);
}
.story #place .cloud2 {
  position: absolute;
  right: 4%;
  bottom: 510px;
  filter: blur(14px);
}
.story #place .place-container {
  margin-left: 10px !important;
}

.site-footer {
  flex-wrap: wrap;
}
.site-footer #nomination img {
  margin-top: -150px;
  padding-bottom: 300px;
  margin-left: 171px;
}

/* MENU BURGER */
#site-navigation .button-menu {
  width: 42px;
  height: 24px;
  cursor: pointer;
  position: relative;
}
#site-navigation .button-menu span {
  width: 100%;
  height: 4px;
  background-color: #000000;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: backround-color 0.5s ease-in-out;
}
#site-navigation .button-menu span::before,
#site-navigation .button-menu span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #000000;
}
#site-navigation .button-menu span::before {
  transform: translateY(-10px);
}
#site-navigation .button-menu span::after {
  transform: translateY(10px);
}
#site-navigation .active span {
  background-color: transparent;
}
#site-navigation .active span::before {
  transform: translateY(0px) rotateZ(45deg);
}
#site-navigation .active span::after {
  transform: translateY(0px) rotateZ(-45deg);
}

.menuburger {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.new-ul {
  list-style: none;
  padding: 0;
  z-index: 2;
  padding-top: 50px;
}

.new-ul li {
  animation: slideUp 2s ease-in-out;
}

.new-ul li a {
  text-decoration: none;
  font-family: Roboto Mono;
  font-size: 64px;
  font-weight: 400;
  line-height: 130px;
  letter-spacing: 0em;
  color: black;
}

.new-ul li a:hover {
  text-shadow: 0px 0px 14px #FF5C00;
  color: #000000;
}

.open {
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop {
  top: -3215px;
  left: -6312px;
  right: 0;
  bottom: 0;
  background: #fff5e9;
  cursor: pointer;
}
.backdrop .button-menu {
  width: 42px;
  height: 24px;
  cursor: pointer;
  position: relative;
}
.backdrop .button-menu span {
  width: 100%;
  height: 4px;
  background-color: #000000;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: backround-color 0.5s ease-in-out;
}
.backdrop .button-menu span::before,
.backdrop .button-menu span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #000000;
}
.backdrop .button-menu span::before {
  transform: translateY(-10px);
}
.backdrop .button-menu span::after {
  transform: translateY(10px);
}
.backdrop .active span {
  background-color: transparent;
}
.backdrop .active span::before {
  transform: translateY(0px) rotateZ(45deg);
}
.backdrop .active span::after {
  transform: translateY(0px) rotateZ(-45deg);
}

.remove {
  display: none !important;
}

.menu {
  padding-top: 20px;
  margin-left: 420px;
  display: flex;
  justify-content: space-around;
}

.menuburger {
  flex-direction: column;
  height: 880px;
  overflow: hidden;
  animation: fadeIn 5s;
}
.menuburger .backdrop {
  text-align: center;
}
.menuburger .backdrop .logoburger {
  margin-top: 30px;
}
.menuburger .backdrop .new-ul p {
  margin-top: 100px;
}
.menuburger .backdrop .flowersburger .sunflowerburger {
  position: absolute;
  width: 216px;
  height: 216px;
  left: 829px;
  top: 95px;
  margin-left: 234px;
}
.menuburger .backdrop .flowersburger .orchidburger {
  position: absolute;
  width: 172px;
  height: 168px;
  left: -72px;
  top: 100px;
}
.menuburger .backdrop .flowersburger .purplecat {
  position: absolute;
  width: 109px;
  height: 98px;
  left: 181px;
  top: 200px;
  margin-left: 120px;
}
.menuburger .backdrop .flowersburger .randomflowerburger {
  position: absolute;
  width: 75px;
  height: 74px;
  left: 1390px;
  top: 360px;
}
.menuburger .backdrop .flowersburger .flowerburger {
  box-sizing: border-box;
  position: absolute;
  width: 70.76px;
  height: 70.76px;
  left: 203px;
  top: 458px;
}
.menuburger .backdrop .flowersburger .blackcat {
  position: absolute;
  width: 123px;
  height: 111px;
  left: 1063px;
  top: 437px;
}
.menuburger .backdrop .flowersburger .orangecat {
  position: absolute;
  width: 105px;
  height: 95px;
  left: 24px;
  top: 700px;
}
.menuburger .backdrop .flowersburger .hibiscusburger {
  position: absolute;
  width: 626px;
  left: 1106px;
  top: 600px;
  filter: blur(2px);
}

.orchidburger, .sunflowerburger, .hibiscusburger, .flowerburger, .randomflowerburger {
  animation: rotation 20s normal linear infinite;
}

.purplecat, .blackcat, .orangecat {
  animation: floating 4s normal linear infinite;
}

/* KEYFRAMES */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes rotation {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -20px);
  }
  100% {
    transform: translate(0, 0);
  }
}
/* MEDIA QUERIES */
@media screen and (max-width: 820px) {
  .banner {
    min-height: 180px;
  }
  .banner video {
    display: none;
  }
  .banner .logo-container {
    background-size: contain;
    background-image: url(../assets/banner.png);
  }
  .banner .logo-container img {
    width: 60% !important;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=theme.css.map */
